@import '_variables.scss';

@font-face {
  font-family: Roboto;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Inter-UI;
  src: url(../fonts/Inter-Regular.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter-UI;
  src: url(../fonts/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter-UI;
  src: url(../fonts/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter-UI;
  src: url(../fonts/Inter-MediumItalic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

header {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  font-family: Inter-UI, sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1544px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  outline: none;
  margin: 0 auto;
}

li {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 140px;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: $logo-text;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 100;
  &:hover {
    opacity: 0.8;
    transition-duration: 0.5s;
  }
}

.logo-icon {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 5px;
  border: 8px solid $logo-blue;
  border-radius: 50%;
  z-index: 100;
  box-sizing: border-box;
}

nav {
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: $footer-bg;
}

.footer-logo {
  display: flex;
  justify-items: center;
  justify-content: flex-start;
  &:hover {
    opacity: 0.8;
  }
}

.footer-logo-icon {
  width: 54px;
  height: 54px;
  float: left;
  border: 8px solid $logo-blue;
  border-radius: 50%;
  z-index: 100;
  margin: 0;
}

a {
  font-family: Inter-UI, sans-serif;
  text-decoration: none;
}

.link {
  color: #000000;
  &:hover {
    opacity: 0.7;
    transition-duration: 0.5s;
  }
}

.footer-logo-name {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  padding-left: 20px;
  bottom: 0;
  width: 130px;
  height: 54px;
  float: left;
  font-size: 24px;
}

.icon {
  width: 16px;
  height: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

#mobile-cart {
  display: none;
}
.fa-bars {
  display: none;
}

.navbar-toggle {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
}

.hide-element {
  display: none;
}

.white-header-mobile {
  height: 400px;
}

#ex2 .fa-stack[data-count]:after {
  position: absolute;
  right: 40%;
  top: 1%;
  content: attr(data-count);
  font-size: 60%;
  padding: 0.2em;
  border-radius: 999px;
  line-height: 0.75em;
  color: white;
  background: $button-blue;
  text-align: center;
  min-width: 1em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  header {
    padding-left: 0px;
    padding-right: 0px;
    height: 56px;
  }

  .header-content {
    width: calc(100% -48px);
  }

  header nav li {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .logo {
    font-size: 0px;
    width: 48px;
  }

  .navbar-toggle {
    display: flex;
  }

  header nav {
    display: none;
  }

  #mobile-cart {
    width: 24px;
    height: 24px;
    display: flex;
  }
  :visited {
    color: #000000;
  }

  .fa-bars {
    display: flex;
  }

  .footer-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .footer-logo-icon {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
  }

  .footer-logo-name {
    padding-left: 5px;
    bottom: 0;
    width: 71px;
    height: 30px;
    float: left;
    font-size: 14px;
  }

  .footer-logo {
    padding-left: 24px;
    align-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1164px) {
  header {
    padding-left: 0px;
    padding-right: 0px;
  }
}
